body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 245);
    text-align: center;
    margin: auto;
}
#abbTitle{
    opacity: 80%;
}
.buttonChangeMode{
    margin-top: 10px;
    background:none;
    border: none;
}
#title{
    font-size:300%
}
#generate{
    background-color: rgb(255, 255, 225);
    color: rgb(50, 50, 50);
    border-radius: 15px;
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}
#special{
    font-style: italic;
}
#credit{
    opacity: 50%;
    float: left;
}
@media(min-width: 620px){
    .yt-frame{
        width: 560px;
        height: 315px;
    }
}
.vids{
    max-width: 40%;
    max-height: 720px;

    min-width: 40%;
}
#go{
    background-color: rgb(255, 255, 225);
    color: rgb(50, 50, 50);
    border-radius: 15px;
    border-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    
}
hr{
    width: 50%;
}
a{
    text-decoration: none;
    color: rgb(50, 50, 50);
}
#go:hover{
    background-color: rgb(255, 255, 205);
}
a:visited{
    color: rgb(155, 50, 155);
}